button {
    width: 70px;
    height: 70px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 700px;
    width: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;

}

.screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 16px;
}

.previousResult {
    height: 50px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 40px;
    opacity: 0.5;
}

.currentDisplay {
    border: 2px solid darkgreen;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 74px;
}

.buttonPad {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}

.numbersAndOnscreenOperations,
.mathOperations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid;
    
}
.numbersAndOnscreenOperations {
    flex: 4;
}

.mathOperations {
    flex: 1;
} 

.onscreenAndModulo,
.numbersAndDot {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}

